/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2013, 6:41:43 PM
    Author     : Kenneth
*/

html, body {
    height: 100%;
    width: auto;
    overflow: hidden;
}


#left {
    float:left;
    width:50%;
    height:100%;
}

#right {
    float:right;
    width:50%;
    height:100%;
}

#logoDiv {
    width:100%;
    height:10%;
}

/*#files {
    width:132px;
    background: transparent;
    height:100%;
    float:right;
    color: transparent;
}*/

#button{
    position: relative;
    left:0px;
    font-size: 24px;
    height: auto;
    width: 100px;
    background-color:transparent;
    border: none;
    margin-right: 15px;
    margin-top: 35px;
    float:right;
    text-decoration:underline
    
}

a:link{
  color:black;
}
a:visited{
  color:black;
}
a:hover{
  color:black;
}
a:focus{
  color:black;
}
a:active{
  color:black;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    width:auto;
    float: left;
}

#mainArea {
    width:100%;
    height:90%;
    border-top: 1px solid black;
}

#saveButton {
    float: right;
    position: relative;
    height:auto;
    width:auto;
    font-size: 24px;
    margin-right: 15px;
    margin-top: 30px;
}

#mainCanvas {
    overflow: auto;
    width:100%;
    height:100%;
}

#textInput {
    height:100%;
    width:auto;
    white-space:pre;
    overflow: auto;
    border-width: 1px;
    background-color: #888;
    outline-width: 0;
    font-family: Consolas, monospace, serif;
    color: white;
    border-left: 1px solid black;

}

.object {
    font-weight: bold;
    color: #234466;
}

.function {
    font-weight: bold;
    color: #612963;
}

.if {
    font-weight: bold;
    color: #571F1F;
}

.elseif {
    font-weight: bold;
    color: #571F1F;
}

.else {
    font-weight: bold;
    color: #571F1F;
}

.while {
    font-weight: bold;
    color: #206620;
}

.end {
    font-weight: bold;
    color: #B90091;
}